---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}



<h1>People</h1>
(Ordered by entrance date and last name)

<p style="text-align:justify">

<h2>Academic Staff</h2>
          <!-- Dimitrios Kanoulas - 2019 -->
          <p style="float: left; padding-right: 10px;">
            <a href="https://dkanou.github.io" target="_blank">
              <img class="person-img" src="/images/staff/D.Kanoulas-Cr.png" width="170" border="0">
            </a></p>
          <div style="overflow: hidden;"> <!-- This ensures the text doesn't wrap under the image -->
            <h3><a href="https://dkanou.github.io/" target="_blank">Prof. Dimitrios Kanoulas</a></h3>
            <h4>Professor in Robotics & AI</h4>
            <b>Research:</b> perception & learning for mobile robot navigation, articulated robot manipulation, and legged robot locomotion
            <br><br>
            <b>Office:</b> 66-72GS 5.04
          </div>
          <div style="clear: both; padding-top: 40px;"></div>

<h2>Students</h2>
          <p style="float: left; padding-right: 10px;">
            <a href="https://gogojjh.github.io/" target="_blank">
              <img class="person-img" src="/images/staff/SebastianRen.png" width="170" border="0">
            </a>
          </p>
          <div style="overflow: hidden;">
            <h3><a href="https://gogojjh.github.io/" target="_blank">Jianhao Jiao</a></h3>
            <h4>MEng in Robotics and AI (Second Year)</h4>
            <b> Research Interest:</b>: Bionic Robots,Perception learning
          </div>
          <div style="clear: both; padding-top: 40px;"></div>
