---
permalink: /people/
title: "UCL People"
excerpt: "People"
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}



## People

# Academic Staff
<img src='https://rpl-as-ucl.github.io/raindrops-wildfire/images/logos/DimitriosKanoula.png' width="300">
**Prof. Dimitrios Kanoulas**

Professor in Robotics & AI

**Research Interests:** perception & learning for mobile robot navigation, articulated robot manipulation, and legged robot locomotion
